body {
    font-family: Arial, sans-serif;
    background-color: #ffeef8;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #d5006d;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #d5006d;
    border-radius: 5px;
    margin-bottom: 15px;
}

input:focus, textarea:focus, select:focus {
    border-color: #ff4081;
    outline: none;
}

button {
    background-color: #d5006d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff4081;
}

p {
    text-align: left;
    margin-left: 200px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(215, 97, 150);
}